a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

p {
  margin: 0px;
}

header {
  font-family: "Lato", sans-serif;
}
header .top-nav-fluid {
  background-color: #01B7F2;
  width: 100%;
  color: #01B7F2;
}
header .top-nav-fluid .top-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top-nav-fluid .top-nav li {
  display: inline-block;
}
header .top-nav-fluid .top-nav li a {
  font-size: 10px;
  color: white;
}
header .top-nav-fluid .top-nav .top-nav-left li {
  margin-right: 1rem;
  padding: 0.4rem 0.1rem;
}
header .top-nav-fluid .top-nav .top-nav-left li i {
  margin: 0rem 0.4rem;
}
header .top-nav-fluid .top-nav .top-nav-left li:last-child {
  position: relative;
}
header .top-nav-fluid .top-nav .top-nav-left li:last-child:hover ul {
  display: block;
}
header .top-nav-fluid .top-nav .top-nav-left li:last-child .top-nav-hover {
  display: none;
  border: 2px solid #01B7F2;
  position: absolute;
  background-color: white;
  top: 100%;
  left: -20%;
  color: #838383;
  z-index: 5;
  font-size: 10px;
  -webkit-transition: 0.3 all ease;
  transition: 0.3 all ease;
}
header .top-nav-fluid .top-nav .top-nav-left li:last-child .top-nav-hover li {
  cursor: pointer;
  padding: 0.3em 8em 0em 0.8em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
header .top-nav-fluid .top-nav .top-nav-left li:last-child .top-nav-hover li:hover {
  color: #01B7F2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li {
  margin-left: 1rem;
  padding: 0.4rem 0.5rem;
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li:first-child {
  background-color: #FDB714;
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li:last-child {
  position: relative;
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li:last-child:hover ul {
  display: block;
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li:last-child .top-nav-hover {
  display: none;
  border: 2px solid #01B7F2;
  background-color: white;
  position: absolute;
  top: 100%;
  left: -20%;
  color: #838383;
  z-index: 5;
  font-size: 10px;
  -webkit-transition: 0.3 all ease;
  transition: 0.3 all ease;
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li:last-child .top-nav-hover li {
  cursor: pointer;
  padding: 0.1em 6em 0em 0.8em;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li:last-child .top-nav-hover li:hover {
  color: #01B7F2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .top-nav-fluid .top-nav .top-nav-right > ul > li i {
  margin: 0rem 0.4rem;
}
header .main-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-nav .main-nav-menu > li {
  position: relative;
  padding: 1.2rem 1rem;
  display: inline-block;
}
header .main-nav .main-nav-menu > li a {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  color: #838383;
  font-size: 12px;
}
header .main-nav .main-nav-menu > li:hover ul {
  display: block;
}
header .main-nav .main-nav-menu > li:hover a {
  color: #01B7F2;
}
header .main-nav .main-nav-menu > li:first-child a {
  color: #01B7F2;
}
header .main-nav .main-nav-menu > li .main-nav-hover {
  display: none;
  position: absolute;
  background-color: #01B7F2;
  top: 100%;
  left: 0%;
  z-index: 2;
}
header .main-nav .main-nav-menu > li .main-nav-hover li {
  white-space: nowrap;
  font-size: 0.7em;
  cursor: pointer;
  padding: 0.9em 6em 0.9em 2em;
  color: rgba(255, 255, 255, 0.726);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-bottom: 1px solid #0194c4;
}
header .main-nav .main-nav-menu > li .main-nav-hover li:hover {
  color: white;
  background-color: #0198c9;
}

#slider {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}
#slider .arrow {
  cursor: pointer;
  font-size: 4em;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  top: 50%;
  z-index: 5;
}
#slider .left-arrow {
  left: 5%;
}
#slider .right-arrow {
  right: 5%;
}
#slider .slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
}
#slider .slide li {
  position: relative;
  width: 100%;
  height: 100%;
}
#slider .slide .slider-image {
  height: 100%;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#slider .slide .slider-content-1 {
  position: absolute;
  text-align: center;
  top: 60%;
  font-weight: 400;
  left: 30%;
  color: white;
}
#slider .slide .slider-content-1 span {
  font-size: 20px;
}
#slider .slide .slider-content-1 p {
  font-size: 25px;
}
#slider .slide .slider-content-1 .slider-button a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin: 10px 10px;
  padding: 5px 10px;
  color: white;
  display: inline-block;
  font-size: 14px;
  border: 1px solid white;
}
#slider .slide .slider-content-1 .slider-button a:hover {
  color: #01B7F2;
  background-color: white;
}

#fly-time .search-tabs .active {
  background: white;
  color: #01B7F2;
}
#fly-time .search-tabs .active:hover {
  background: white;
  color: #01B7F2;
}
#fly-time .search-tabs li {
  font-size: 12px;
  font-weight: 500;
  color: #838383;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.658);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#fly-time .search-tabs li:hover {
  background-color: rgba(255, 255, 255, 0.758);
  color: #6a6a6a;
}
#fly-time .search-tabs-content .select-after {
  position: relative;
}
#fly-time .search-tabs-content p {
  font-size: 16px;
  color: #2d3e52;
}
#fly-time .search-tabs-content label {
  font-size: 11px;
  color: #838383;
  display: block;
}
#fly-time .search-tabs-content input, #fly-time .search-tabs-content select {
  background-color: #F5F5F5;
  color: #838383;
  height: 33px;
  border: 0px;
  padding: 0px 15px;
  width: 100%;
  font-size: 12px;
}
#fly-time .search-tabs-content input option, #fly-time .search-tabs-content select option {
  color: #838383;
}
#fly-time .search-tabs-content .submit-search {
  cursor: pointer;
  position: relative;
  color: white;
  font-size: 11px;
  width: 100%;
  height: 35px;
}
#fly-time .search-tabs-content .submit-search span, #fly-time .search-tabs-content .submit-search i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
#fly-time .search-tabs-content .submit-search span {
  background-color: #98CE44;
  width: 70%;
}
#fly-time .search-tabs-content .submit-search i {
  width: 30%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #7DB921;
}
#fly-time .search-tabs-content .submit-search:hover span {
  background-color: #7DB921;
}
#fly-time .search-tabs-content .submit-search:hover i {
  background-color: #98CE44;
}

#popular-destinations {
  background-color: #F5F5F5;
}
#popular-destinations h5 {
  font-size: 20px;
  font-weight: 400;
  color: #2d3e52;
}
#popular-destinations .destination-items {
  width: 100%;
}
#popular-destinations .destination-items .destination-image {
  position: relative;
  width: 100%;
  height: 23vh;
  overflow: hidden;
}
#popular-destinations .destination-items .destination-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
#popular-destinations .destination-items .destination-image .overlay {
  background-color: rgba(1, 182, 242, 0.616);
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: scale(0.5) rotateY(180deg);
          transform: scale(0.5) rotateY(180deg);
  color: white;
  font-size: 40px;
  opacity: 0;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
#popular-destinations .destination-items .destination-image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#popular-destinations .destination-items .destination-image:hover .overlay {
  opacity: 1;
  -webkit-transform: scale(1) rotateY(0deg);
          transform: scale(1) rotateY(0deg);
}
#popular-destinations .destination-items .destination-text .destination-content a {
  font-size: 16px;
  color: #2d3e52;
  -webkit-transition: 0.3 all ease;
  transition: 0.3 all ease;
  display: block;
  line-height: 12px;
}
#popular-destinations .destination-items .destination-text .destination-content span {
  color: #838383;
  font-size: 10px;
}
#popular-destinations .destination-items .destination-text .destination-price span {
  color: #838383;
  font-size: 10px;
}
#popular-destinations .destination-items .destination-text .destination-price h4 {
  font-weight: 400;
  color: #98CE44;
  font-size: 20px;
}
#popular-destinations .destination-items .destination-text:hover .destination-content a {
  color: #01B7F2;
}

#honeymoon {
  position: relative;
  background-image: url("../img/global-map.jpg");
  background-attachment: fixed;
  background-position: center;
}
#honeymoon .couple-img {
  overflow: hidden;
  height: 80vh;
  width: 100%;
}
#honeymoon .couple-img img {
  height: 94%;
  max-height: 100%;
  min-height: 96%;
  max-width: 100%;
  margin-top: 4%;
  -o-object-fit: cover;
     object-fit: cover;
}
#honeymoon .honeymoon-headig p {
  font-size: 24px;
  color: white;
}
#honeymoon .honeymoon-headig span {
  color: #7c9abd;
  font-size: 13px;
}
#honeymoon .honeymoon-content .honeymoon-img {
  overflow: hidden;
  position: relative;
  height: 22vh;
  width: 100%;
}
#honeymoon .honeymoon-content .honeymoon-img img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
#honeymoon .honeymoon-content .honeymoon-img .overlay {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 183, 20, 0.616);
  -webkit-transform: scale(0.5) rotateY(180deg);
          transform: scale(0.5) rotateY(180deg);
  color: white;
  font-size: 40px;
  opacity: 0;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
#honeymoon .honeymoon-content .honeymoon-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#honeymoon .honeymoon-content .honeymoon-img:hover .overlay {
  opacity: 1;
  -webkit-transform: scale(1) rotateY(0deg);
          transform: scale(1) rotateY(0deg);
}
#honeymoon .honeymoon-content .honeymoon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 15px;
}
#honeymoon .honeymoon-content .honeymoon-text p {
  color: #2d3e52;
  font-size: 16px;
}
#honeymoon .honeymoon-content .honeymoon-text span {
  color: #838383;
  font-size: 10px;
}
#honeymoon .honeymoon-content .honeymoon-text a {
  display: inline-block;
  padding: 3px 5px;
  margin-top: 10px;
  color: white;
  background-color: lightgrey;
  font-size: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#honeymoon .honeymoon-content .honeymoon-text a:hover {
  background-color: #98CE44;
}

#offers {
  background-color: #F5F5F5;
}
#offers .heading {
  text-align: center;
}
#offers .heading h4 {
  font-size: 24px;
  font-weight: 400;
  color: #2d3e52;
}
#offers .heading p {
  font-size: 13px;
  color: #838383;
}
#offers .offers-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#offers .offers-content .offers-text {
  height: 100%;
  background-color: white;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#offers .offers-content p {
  font-size: 16px;
  color: #2d3e52;
}
#offers .offers-content span {
  font-size: 13px;
  color: #838383;
}
#offers .offers-content a {
  display: inline-block;
  padding: 3px 12px;
  color: white;
  background-color: lightgray;
  font-size: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#offers .offers-content a:hover {
  background-color: #98CE44;
}

#about {
  background-image: url("../img/global-map.jpg");
  background-attachment: fixed;
  background-position: center;
}
#about .about-content .about-image {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 72px;
  overflow: hidden;
}
#about .about-content .about-image img {
  margin-top: -10%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#about .about-content .about-image .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: rgba(253, 183, 20, 0.616);
}
#about .about-content .about-image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#about .about-content .about-image:hover .overlay {
  opacity: 0;
}
#about .about-content .about-text {
  padding: 20px 15px;
  background-color: white;
}
#about .about-content .about-text a {
  color: #2d3e52;
  font-size: 17px;
  display: block;
  margin-bottom: 20px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#about .about-content .about-text a:hover {
  color: #01B7F2;
}
#about .about-content .about-text p {
  font-size: 14px;
  color: #838383;
}

footer .footer-top h4 {
  font-size: 20px;
  font-weight: 400;
  color: #2d3e52;
  margin-bottom: 25px;
}
footer .footer-top .discover li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 8px 0px;
}
footer .footer-top .discover li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #838383;
  font-size: 13px;
  margin-left: 22px;
  font-weight: 400;
}
footer .footer-top .discover li i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 17px;
  color: #838383;
}
footer .footer-top .discover li:hover a, footer .footer-top .discover li:hover i {
  color: #01B7F2;
}
footer .footer-top .discover li:hover i {
  left: 20px;
}
footer .footer-top .travel-news img {
  width: 100%;
  height: 63px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-top .travel-news a {
  font-size: 14px;
  color: #01B7F2;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer-top .travel-news a:hover {
  color: rgba(1, 182, 242, 0.616);
}
footer .footer-top .travel-news p {
  font-size: 13px;
  color: #838383;
}
footer .footer-top .travel-news span {
  font-size: 11px;
  color: #9e9e9e;
}
footer .footer-top .mailing-list p {
  font-size: 13px;
  color: #838383;
  margin-bottom: 20px;
}
footer .footer-top .mailing-list .mailing-sending {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}
footer .footer-top .mailing-list .mailing-sending input {
  background: #F5F5F5;
  color: #838383;
  font-size: 12px;
  width: 88%;
  height: 100%;
  border: none;
  text-indent: 15px;
}
footer .footer-top .mailing-list .mailing-sending i {
  background-color: #7DB921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 12%;
  height: 100%;
}
footer .footer-top .mailing-list .mailing-sending i:hover {
  background-color: #98CE44;
}
footer .footer-top .mailing-list span {
  font-size: 12px;
  color: gray;
}
footer .footer-top .about-travelo p {
  font-size: 13px;
  color: #838383;
  margin-bottom: 20px;
}
footer .footer-top .about-travelo h3 {
  font-size: 20px;
  font-weight: 400;
  color: #2d3e52;
}
footer .footer-top .about-travelo h3 i {
  color: #01B7F2;
  font-size: 20px;
  -webkit-transform: rotateX(180deg) rotate(20deg);
          transform: rotateX(180deg) rotate(20deg);
}
footer .footer-top .about-travelo .blue {
  color: #01B7F2;
}
footer .footer-bottom {
  background-color: #F5F5F5;
  width: 100%;
}
footer .footer-bottom .logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.ul-icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.ul-icon-left li a {
  margin: 10px 5px 10px 0px;
  background-color: #9e9e9e;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}
.ul-icon-left li a i {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 13px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.ul-icon-left li a:hover {
  background-color: #01B7F2;
}

.toTopButton {
  border: 1px solid #01B7F2;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}
.toTopButton i {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #2d3e52;
  font-size: 13px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
